nav {
  padding-left: 16px;
  font-size: 22px;
  font-weight: 700;
}

a:not(:last-child) {
  margin-right: 18px;
}

.link {
  color: rgb(11, 11, 39);
}

.activeLink {
  text-decoration: underline;
  color: rgb(144, 40, 40);
}
